$(document).ready(function(){
  document.getElementById('song_upload_to_pcloud').addEventListener('change', function() {
    pCloudSdk.createClient('XEfdZ0vtAVEqVk00ZAiLc67Zs3NBtTeHaWyOUxKzVh1QEfAfpfFk').upload(this.files[0], 696261932, {
      onBegin: () => {
        console.log('started');
        $('<div id="myProgress"><div id="myBar" class="input"></div></div>').insertAfter($("#song_upload_to_pcloud"));
      },
      onProgress: function(progress) {
        console.log(progress.loaded, progress.total);
        var elem = document.getElementById("myBar");
        var width = 1;
        elem.style.width = Math.ceil(progress.loaded / progress.total * 100) + '%';
      },
      onFinish: function(fileMetadata) {
        $('#song_name').val(fileMetadata.metadata.name.split('.')[0]);
        $('#song_file_name').val(fileMetadata.metadata.name);
        $('#song_pcloud_file_no').val(fileMetadata.metadata.fileid);
        alert("File uploaded to Pcloud.");
      }
    }).catch(function(error) {
      console.error(error);
    });
  });
});
